@model notesplace.Models.bookdetails

@{
    if (ViewBag.Admin == 1)
    {
        Layout = "~/Views/Shared/adminnavbar.cshtml";
    }
    else
    {
        Layout = "~/Views/Shared/navbar.cshtml";
    }
}


<!-- Note Detail Section -->


<div class="container">

    <div class="row">

        <div class="col-md-12 note-detail-heading margintop">

            Notes Details

        </div>

        <div class="col-xl-3 col-md-6 paddingbottom-20">

            @if (Model.bb.bookimage != null)
            {
                <img src="@Url.Content(Model.bb.bookimage)" class="img-responsive image-size" alt="bookimage">
            }
            else
            {
                <img src="@Url.Content(ViewBag.defaultnoteimage)" class="img-responsive image-size" alt="bookimage">
            }

        </div>

        <div class="col-xl-4 col-md-6 paddingbottom-20">

            <div class="book-name">@Model.bb.title</div>
            <div class="book-type">@Model.bb.categoryname</div>
            <div class="book-description">@Model.bb.description</div>
            @if (ViewBag.Admin == 1)
            {
                if (Model.bb.sellprice == 0)
                {
                    <button class="btn download-btn" onclick="window.location.href = '@Url.Action("download", "notes", new { noteid = Model.bb.noteid })'">Free</button>
                }
                else
                {
                    <button class="btn download-btn" onclick="window.location.href = '@Url.Action("download", "notes", new { noteid = Model.bb.noteid })'">Download/@Model.bb.sellprice</button>
                }
            }
            else if (User.Identity.IsAuthenticated == false && Model.bb.sellprice == 0)
            {
                <button class="btn download-btn" onclick="window.location.href = '@Url.Action("login", "account", new { noteid = Model.bb.noteid })'">Free</button>
            }
            else if (User.Identity.IsAuthenticated == false)
            {
                <button class="btn download-btn" onclick="window.location.href = '@Url.Action("login", "account", new { noteid = Model.bb.noteid })'">Download/@Model.bb.sellprice</button>
            }
            else if (Model.bb.sellprice == 0 && ViewBag.currentuser != Model.bb.userid)
            {
                <button class="btn download-btn" onclick="window.location.href = '@Url.Action("share", "transaction", new { noteid = Model.bb.noteid })'">Free</button>
            }
            else if (User.Identity.IsAuthenticated && ViewBag.currentuser == Model.bb.userid)
            {
                <button class="btn download-btn" onclick="window.location.href = '@Url.Action("share", "transaction", new { noteid = Model.bb.noteid })'">Your Book</button>
            }
            else if (ViewBag.isapproved == true)
            {
                <button class="btn download-btn" onclick="window.location.href = '@Url.Action("share", "transaction", new { noteid = Model.bb.noteid })'">Purchased</button>
            }
            else if (ViewBag.isrequested == true)
            {
                <button class="btn download-btn" onclick="return confirm('You Already Requested');">Requested/@Model.bb.sellprice</button>
            }
            else
            {
                <button class="btn download-btn" onclick="ShowPopup(@Model.bb.noteid)">Download/@Model.bb.sellprice</button>
            }

        </div>

        <div class="col-xl-5 col-md-12 paddingbottom-20">

            <div>

                <span class="q-type">Institution:</span>
                <span class="answer">@Model.bb.institutename</span>

            </div>


            <div>

                <span class="q-type">Country:</span>
                <span class="answer">@Model.bb.country</span>

            </div>

            <div>

                <span class="q-type">Course Name:</span>
                <span class="answer">@Model.bb.coursename</span>

            </div>

            <div>

                <span class="q-type">Course Code:</span>
                <span class="answer">@Model.bb.coursecode</span>

            </div>

            <div>

                <span class="q-type">Professor:</span>
                <span class="answer">@Model.bb.professor</span>

            </div>

            <div>

                <span class="q-type">No Of Pages:</span>
                <span class="answer">@Model.bb.numberofpages</span>

            </div>

            <div>

                <span class="q-type">Approved Date:</span>
                <span class="answer">@Model.bb.createddate</span>

            </div>

            <div>

                <span class="q-type">Rating</span>
                <span class="star-float">
                    <span class="score">
                        <span class="score-wrap" style="margin-top:5px;margin-right:5px;">
                            <span class="stars-active" style="width:@ViewBag.totalstar%">
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                                <i class="fa fa-star" aria-hidden="true"></i>
                            </span>
                            <span class="stars-inactive">
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                                <i class="fa fa-star-o" aria-hidden="true"></i>
                            </span>
                        </span>
                        <span class="answer-review" style="float:right;">@ViewBag.totalrecords Reviews</span>
                    </span>
                </span>

            </div>

            <div class="inappropriate-message">
                @Model.bb.totalspam users marked this note as inappropriate.
            </div>

        </div>

        <div class="col-xl-12">
            <div class="separate-line"></div>
        </div>

    </div>

    <div class="row">

        <div class="col-xl-6 note-detail-heading">

            Notes preview

            <div class="ptop">

                <div class="iframe-pdf">
                    @if (Model.bb.bookpreview != null)
                    {
                        <iframe src="@Url.Content(@Model.bb.bookpreview)" width="600px" height="450px"></iframe>
                    }
                    else
                    {
                        <iframe width="600px" height="450px">Not Available</iframe>
                    }
                </div>

            </div>

        </div>


        <div class="col-xl-6 note-detail-heading">

            Customer Reviews
            <div class="ptop">

                <div class="customer-box" style=" overflow-y: scroll;">

                    @if (Model.rating != null)
                    {
                        foreach (var r in Model.rating)
                        {
                            if (r.star != null)
                            {
                                <div class="container">

                                    <div class="row customer-padding">
                                        <div class="col-md-2">
                                            <img src="@Url.Content(r.profile)" class="customer-image">
                                        </div>
                                        <div class="col-md-10">
                                            <p class="customer-name">
                                                @r.name
                                            </p>
                                            @if (ViewBag.Admin == 1)
                                            {
                                                <a href="@Url.Action("deletecomment", "admin", new {commentid=r.ratingid, nid = Model.bb.noteid })" onclick="return confirm('Are you sure you want to delete this commnet?')" style="text-decoration:none !important; color:black !important;"><i class="fa fa-trash-o pull-right"></i></a>
                                            }
                                            <span class="score">
                                                <span class="score-wrap" style="float: left">
                                                    <span class="stars-active" style="width:@r.star%">
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                        <i class="fa fa-star" aria-hidden="true"></i>
                                                    </span>
                                                    <span class="stars-inactive">
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                        <i class="fa fa-star-o" aria-hidden="true"></i>
                                                    </span>
                                                </span>
                                            </span>

                                            <p class="customer-comments">@r.comments</p>
                                        </div>
                                    </div>

                                    <div class="container">
                                        <div class="row customer-review-line">
                                        </div>
                                    </div>

                                </div>
                            }
                        }
                    }

                </div>

            </div>

        </div>

    </div>

</div>


<!-- popup -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" data-backdrop="static" data-keyboard="false" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">

                <div class="center">
                    <div class="tick-al">
                        <p class="tick-tick">&#10003;</p>
                    </div>
                </div>
                @* @Html.ActionLink("display","bookdetails",new { nid = book.noteid})*@
                <a href="@Url.Action("display", "bookdetails", new { nid = Model.bb.noteid })" class="close" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </a>

            </div>

            <div class="container modal-body" id="myModalBodyDiv">

            </div>

        </div>
    </div>

</div>




<!-- JS -->
<script>
    var pmodal, loading;
    function ShowProgress() {
        pmodal = document.createElement("DIV");
        pmodal.className = "pmodal";
        document.body.appendChild(pmodal);
        loading = document.getElementsByClassName("loading")[0];
        loading.style.display = "block";
        var top = Math.max(window.innerHeight / 2 - loading.offsetHeight / 2, 0);
        var left = Math.max(window.innerWidth / 2 - loading.offsetWidth / 2, 0);
        loading.style.top = top + "px";
        loading.style.left = left + "px";
    };

    var ShowPopup = function (noteid) {
        var result = confirm('As this is paid note are you sure you want to buy this note?');

        if (result) {
            ShowProgress();
            $.ajax({
                type: "GET",
                url: "/transaction/share?noteid=" + noteid,
                success: function (response) {
                    //$("#loaderDiv").hide();
                    setTimeout(function () {
                        document.body.removeChild(pmodal);
                        loading.style.display = "none";
                    }, 1);

                    $("#myModalBodyDiv").html(response);

                    $("#exampleModal").modal("show");


                },
            })
        }
    }
</script>

