@model notesplace.Models.country

@{
    Layout = "~/Views/Shared/adminnavbar.cshtml";
}

<div class="container">
    <div class="row margin">
        <div class="col-xl-12 dash-heading">
            Add Country
        </div>
    </div>
</div>

<div class="container">
    <div class="form-container">
        @using (Html.BeginForm("country","add",FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-xl-12">

                    <div class="row">
                        <div class="col-xl-6">

                            <div class="form-group">

                                <label class="form-label re">Country Name</label>
                                @Html.EditorFor(model => model.countryname, new { htmlAttributes = new { @class = "form-control form-box-user", @placeholder = "Enter Country" } })
                                @Html.ValidationMessageFor(model => model.countryname, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xl-12">
                    <div class="row">
                        <div class="col-xl-6">
                            <div class="form-group">

                                <label class="form-label re">Country Code</label>
                                @Html.EditorFor(model => model.countrycode, new { htmlAttributes = new { @class = "form-control form-box-user", @placeholder = "Enter Country Code" } })
                                @Html.ValidationMessageFor(model => model.countrycode, "", new { @class = "text-danger" })

                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xl-12">
                    <div class="row">

                        <div class="col-xl-6 form-group">

                            <button type="submit" class="btn user-submit-btn-style">SUBMIT</button>

                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
