@model notesplace.Models.buyerrequest
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PagedList.Mvc
@using PagedList

<div class="container">

    <div class="row margintop-100">

        <div class="col-xl-6 col-md-12 col-sm-12 col-12 dash-heading-inner">Buyer Requests</div>
        <div class="col-xl-6 col-md-12 col-sm-12 col-12 bbt" align="right">
            @using (Html.BeginForm("buyer", "buyerrequest", FormMethod.Get))
            {
                <input type="text" class="search-box-style" placeholder="Search" name="search">
                <span class="padding-bt-se"><button class="search-btn-style">Search</button></span>
            }
        </div>
    </div>

    <div class="row padding-bt-tb">

        <!-- Table -->
        <div class="col-xl-12">
            <table>

                <table class="table table-border table-responsive-xl table-responsive-md table-responsive-sm">
                    <thead>
                        <tr>
                            <th scope="col" class="table-row-heading">SR NO.</th>
                            
                            <th scope="col" class="table-row-heading">@Html.ActionLink("Title", "buyer", new { sortBy = ViewBag.SortByTitle,search = Request.QueryString["search"] })</th>
                            <th scope="col" class="table-row-heading">@Html.ActionLink("Category", "buyer", new { sortBy = ViewBag.SortByCategory,search = Request.QueryString["search"] })</th>
                            <th scope="col" class="table-row-heading">BUYER</th>
                            <th scope="col" class="table-row-heading">PHONE NO.</th>
                            <th scope="col" class="table-row-heading">SELL TYPE</th>
                            <th scope="col" class="table-row-heading">PRICE</th>
                            <th scope="col" class="table-row-heading">@Html.ActionLink("DOWNLOADED DATE/TIME", "buyer", new { sortBy = ViewBag.SortByDate,search = Request.QueryString["search"] })</th>
                            <th scope="col" class="table-row-heading"></th>
                            <th scope="col" class="table-row-heading"></th>
                        </tr>
                    </thead>

                    <tbody>
                        @{ int count = 0;}
                        @foreach (var book in Model.buy)
                        {
                            count = count + 1;
                            <tr>
                                <td class="table-content">@count</td>
                                <td class="table-content-diff">@book.title</td>
                                <td class="table-content">@book.category</td>
                                <td class="table-content">testing123@gmail.com</td>
                                <td class="table-content">+91 9898989898</td>
                                <td class="table-content">@book.ispaid</td>
                                <td class="table-content">$@book.sellprice</td>
                                <td class="table-content">@book.addeddate</td>
                                <td class="table-content"><button type="submit" class="btn ev-btn-style" onclick="window.location.href = '@Url.Action("display","bookdetails",new { nid = book.noteid})'"><i class="fa fa-eye"></i></button></td>
                                <td class="table-content dropdown">
                                    <i class="fa fa-ellipsis-v"></i>

                                    <div class="dropdown-content">
                                        <a href="#">Allow Download</a>
                                    </div>

                                </td>
                            </tr>
                        }

                    </tbody>
                </table>

            </table>


        </div>


        <div class="container">

            <nav class="padding-bt-tb">

                <ul class="pagination justify-content-center">
                @Html.PagedListPager(Model.buy, i => Url.Action("buyer", "buyerrequest", new
                {
                   i,
                   search = Request.QueryString["search"],
                   sortBy = Request["sortBy"],

                }))

                </ul>

            </nav>

        </div>
    </div>


</div>

