<!DOCTYPE html>

<style type="text/css">
    .pmodal {
        position: fixed;
        top: 0;
        left: 0;
        background-color: black;
        z-index: 99;
        opacity: 0.8;
        filter: alpha(opacity=80);
        -moz-opacity: 0.8;
        min-height: 100%;
        width: 100%;
    }

    .loading {
        font-family: Open Sans;
        font-size: 20px;
        color: #fff;
        width: 200px;
        height: 100px;
        display: none;
        position: fixed;
        z-index: 999;
    }
</style>

<div class="loading" align="center">
    <br />
    <br />
    <strong>Sending Request.....</strong>
    <!-- <img src="https://www.aspsnippets.com/demos/loader.gif" alt="" /> -->
</div>
<html>
<head>
    <!-- Important Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Title -->
    <title>Notes-MarketPlace</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Font Awesome Icons -->
    <link rel="stylesheet" href="~/Content/Front/css/font-awesome/css/font-awesome.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/bootstrap/bootstrap.min.css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/style.css">

    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Content/Front/css/responsive.css">
</head>
<body>

    <!-- NavBar -->
    <header>

        <nav class="navbar navbar-expand-lg white-nav-top fixed-top">

            <div class="container top-navbar-container">
                <a href="@Url.Action("home", "home")" class="navbar-brand nav-image img-responsive"><img src="~/Content/Front/images/logo/logo.png" class="img-fluid"></a>

                <button type="button" class="navbar-toggler navbar-brand" data-toggle="collapse" data-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"><i class="fa fa-bars toggle-bar-style"></i></span>
                </button>


                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="navbar-nav" id="myDiv">
                        <li class="nav-item">
                            <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "search" ? "activelink nav-items nav-link" : "nav-items nav-link")" href="@Url.Action("search","searchnotes")">Search Notes</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "dashboard" ? "activelink nav-items nav-link" : "nav-items nav-link")" href="@Url.Action("dashboard", "dashboard")">Sell Your Notes</a>
                            </li>

                            <li class="nav-item">
                                <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "buyer" ? "activelink nav-items nav-link" : "nav-items nav-link")" href="@Url.Action("buyer", "buyerrequest")">Buyer Requests</a>
                            </li>
                        }

                        <li class="nav-item">
                            <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "faq" ? "activelink nav-items nav-link" : "nav-items nav-link")" href="@Url.Action("faq","faq")">FAQ</a>
                        </li>

                        <li class="nav-item">
                            <a class="@(ViewContext.RouteData.Values["Action"].ToString() == "contactus" ? "activelink nav-items nav-link" : "nav-items nav-link")" href="@Url.Action("contactus","contact")">Contact Us</a>
                        </li>

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <div class="dropdown">
                                    @if (ViewBag.image != null)
                                    {
                                        <button class="profile-btn-style nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="@Url.Content(ViewBag.image)" class="nav-user-image">
                                        </button>
                                    }
                                    else
                                    {
                                        <button class="profile-btn-style nav-link" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <img src="" alt="Image" class="nav-user-image">
                                        </button>
                                    }
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                        <a class="dropdown-item" href="@Url.Action("editprofile", "userprofile")">My Profile</a>
                                        <a class="dropdown-item" href="@Url.Action("mydownload", "mydownload")">My Downloads</a>
                                        <a class="dropdown-item" href="@Url.Action("sold", "mysoldnotes")">My Sold Notes</a>
                                        <a class="dropdown-item" href="#">My Rejected Notes</a>
                                        <a class="dropdown-item" href="@Url.Action("changepassword", "account")">Change Password</a>
                                        <a class="dropdown-item logout-color" href="@Url.Action("logout", "account")">LOGOUT</a>
                                    </div>
                                </div>
                            </li>
                        }

                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <button type="submit" class="btn log-btn nav-link" onclick="location.href='@Url.Action("logout", "account")'">Logout</button>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <button type="submit" class="btn log-btn nav-link" onclick="location.href='@Url.Action("login", "account")'">Login</button>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>

    </header>

    <div>
        @RenderBody()
    </div>




    <!-- Footer Section -->
    <div class="footer-border"></div>
    <div class="container">
        <div class="row footer-padding">

            <div class="social-icons-alignment">

                <span>
                    <ul class="social-list">
                        <li>
                            <a href="#">
                                <i class="fa fa-facebook"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-twitter"></i>
                            </a>
                        </li>

                        <li>
                            <a href="#">
                                <i class="fa fa-linkedin"></i>
                            </a>
                        </li>

                    </ul>
                </span>
            </div>

        </div>

        <div class="row">

            <div class="col-md-12 col-sm-12 col-12">
                <div class="cc-p">Copyright &#169; Tatvasoft All rights reserved.</div>
            </div>

        </div>
    </div>
    <!-- JQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="~/Scripts/Front/js/bootstrap/bootstrap.min.js"></script>

    <!-- Custom JS -->
    <script src="~/Scripts/Front/js/script.js"></script>
</body>
</html>