@model notesplace.Models.myrejectednotelist
@{
    Layout = "~/Views/Shared/navbar.cshtml";
}
@using PagedList
@using PagedList.Mvc


<div class="container">

    <div class="row margintop-100">

        <div class="col-xl-6 col-md-12 col-sm-12 col-12 dash-heading-inner">My Rejected Notes</div>
        <div class="col-xl-6 col-md-12 col-sm-12 col-12 bbt" align="right">
            @using (Html.BeginForm("myrejectednotes", "myrejectednotes", FormMethod.Get))
            {
                <input type="text" class="search-box-style" placeholder="Search" name="search">
                <span class="padding-bt-se"><button class="btn search-btn-style">Search</button></span>
            }
        </div>
    </div>

    <div class="row padding-bt-tb">

        <!-- Table -->
        <div class="col-xl-12 color-for-link">

            <table class="table table-border table-responsive-lg table-responsive-md table-responsive-sm">
                <thead>
                    <tr>
                        <th scope="col" class="table-row-heading">SR NO.</th>
                        <th scope="col" class="table-row-heading">@Html.ActionLink("Title", "myrejectednotes", new { sortBy = ViewBag.SortByTitle, search = Request.QueryString["search"], i = Request.QueryString["i"] })</th>
                        <th scope="col" class="table-row-heading">@Html.ActionLink("Category", "myrejectednotes", new { sortBy = ViewBag.SortByCategory, search = Request.QueryString["search"], i = Request.QueryString["i"] })</th>
                        <th scope="col" class="table-row-heading">Remarks</th>
                        <th scope="col" class="table-row-heading">Clone</th>
                        <th scope="col" class="table-row-heading"></th>
                    </tr>
                </thead>

                <tbody>
                    @{ int count = 0; if (ViewBag.counter != null) { count = ViewBag.counter; } }
                    @foreach (var n in Model.myrejectednote)
                    {
                        count = count + 1;
                        <tr>
                            <td class="table-content">@count</td>
                            <td class="table-content-diff"><a href="@Url.Action("display","bookdetails",new { nid = n.noteid})" style="color:#6255a5 !important;">@n.notetitle</a></td>
                            <td class="table-content">@n.category</td>
                            <td class="table-content">@n.remarks</td>
                            <td class="table-content"><a href="@Url.Action("add","addnotes",new { nid = n.noteid})" style="color:#6255a5 !important;">Clone</a></td>
                            <td class="table-content dropdown">
                                <i class="fa fa-ellipsis-v"></i>

                                <div class="dropdown-content">
                                    <a href="@Url.Action("download","myrejectednotes",new { noteid = n.noteid})">Download Note</a>
                                </div>

                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @if (count == 0)
            {
                <div style="text-align:center;font-size:20px;font-weight:750;">No Records Found</div>
            }
        </div>


        <div class="container">

            <nav class="padding-bt-tb">

                <ul class="pagination justify-content-center">
                    @Html.PagedListPager(Model.myrejectednote, i => Url.Action("myrejectednotes", "myrejectednotes", new
                    {
                       i,
                       search = Request.QueryString["search"],
                       sortBy = Request["sortBy"],

                    }))

                </ul>
            </nav>

        </div>

    </div>
</div>




